.showcase{
   
    .heading{
        text-transform: capitalize;
        text-align: center;
    }
    .main{
        display: flex;

        .display{
            

        }
        .products{
            display: flex;
        }

    }
}